body{
    background-color: #D2C1B7;
}

.overskrifter-forside{
    display: flex;
    flex-direction: column; /*lægges under hinanden*/
    margin-top: 20px;
    margin-left: 40px;
    font-family: ;
    color: #4f1313;
    line-height: 1.1;
}

.linje1{
    font-size: 56px;
    font-weight: bold;
    margin-left: 40px;
}

.linje2{
    font-size: 45px;
    font-style: italic;
    color: #4f1313;
    align-self: flex-start;
    margin-left: 300px;
}